<div class="md:w-1/2 m-5 m-auto shadow p-4">
  <h1 class="text-center text-3xl font-bold">Add Product</h1>
  <div>
    <div class="p-3">
      <input class="form-control" type="name" (change)="this.getName=name.value" #name placeholder="product name">

    </div>
    <div class="form-floating p-3">
      <textarea class="form-control" (change)="this.getDescription=description.value" #description
        placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Description</label>
    </div>
    <div class="p-3">
      <select (change)="loadSubcategories(category.value)" #category class="form-select"
        aria-label="Default select example">
        <option disabled selected>choose category</option>
        @for(category of categories; track category._id){
        <option [value]="category._id">{{category.name}}</option>
        }
      </select>
    </div>
    <div class="p-3">
      <select class="form-select" (change)="this.getSubcategory=subcategory.value" #subcategory
        aria-label="Default select example">
        <option disabled selected>choose subcategory</option>
        @for(subcategory of subcategories; track subcategory._id){
        <option [value]="subcategory._id">{{subcategory.name}}</option>
        }
      </select>
    </div>
    <div class="p-3 d-flex justify-content-around">
      <input class="form-control w-25" type="number" (change)="this.getPrice=price.value" #price
        placeholder="product price">
      <input class="form-control w-25" type="number" (change)="this.getQuantity=quantity.value" #quantity
        placeholder="product quantity">
    </div>
    <div class="p-3 d-flex justify-content-around">
      <div class="w-25">
        <label class="mb-2" for=""> Product Cover</label>
        <input class="form-control" (change)="setCover($event)" type="file" accept="image/*">
      </div>
      <div class="w-25">
        <label class="mb-2" for="">Product Images</label>
        <input class="form-control" (change)="setImages($event)" type="file" accept="image/*" multiple>
      </div>
    </div>
    <div class="mt-3">
      <button (click)="createProduct()" class="btn btn-primary mx-3 ">Create</button>
      <a routerLink="/products" class="btn btn-danger">Cancel</a>
    </div>
    @if (loading) {
    <div class="flex items-center justify-center">
      <div class="w-16 h-16 border-4 border-blue-500 border-dashed rounded-full animate-spin"></div>
    </div>
    }
  </div>
</div>
<br><br><br>