<div class="w-75 m-auto">
  <h1 class="text-center my-5 text-3xl font-bold">All Products</h1>
  <hr class="my-3">
  @if (loading) {
  <div class="flex items-center justify-center">
    <div class="w-16 h-16 border-4 border-blue-500 border-dashed rounded-full animate-spin"></div>
  </div>

  }@else {
  <div class="d-flex justify-content-between">
    <a class="btn btn-primary" routerLink="/create">Create Product</a>
    <input (change)="searchData(searchInput.value)" #searchInput class="form-control me-2 w-25" type="search"
      placeholder="Search" aria-label="Search">
  </div>
  <hr class="my-3">
  <table class="w-100">
    <thead>
      <tr class="border-bottom">
        <th>#</th>
        <th>ID</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sold</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(product of products; track product._id){
      <tr class="m-5 border-bottom">
        <td>{{$index + 1}}</td>
        <td>{{product?._id|slice:-4}}</td>
        <td><img class="mx-3" width="50px" [src]="productImage+product?.cover" [alt]="product?.name">{{product?.name}}
        </td>
        <td>{{product?.category?.name}}</td>
        <td>{{product?.subcategory?.name}}</td>
        <td>{{product?.price|currency}}</td>
        <td>{{product?.quantity}}</td>
        <td>{{product?.sold}}</td>
        <td>

          <button (click)="openModal(product._id)" class="btn btn-danger btn-sm rounded-3">Delete</button>
        </td>
      </tr>
      }
      @empty { <h1>empty</h1> }
    </tbody>
  </table>
  }

</div>

<div class="container m-auto mt-5 w-25">
  <ul class="pagination">
    @if(pagination.prev){<li (click)="changePage(pagination.prev)" class="page-item"><button
        class="page-link">Previous</button></li>}
    @if(pagination.currentPage!==1)
    {<li (click)="changePage(1)" class="page-item"><button class="page-link">1</button></li>}
    <li class="page-item"><button class="page-link">{{pagination.currentPage}}</button></li>
    @if(pagination.currentPage!==pagination.totalPages)
    {<li (click)="changePage(pagination.totalPages!)" class="page-item"><button
        class="page-link">{{pagination.totalPages}}</button></li>}
    @if(pagination.next){<li (click)="changePage(pagination.next)" class="page-item"><button
        class="page-link">Next</button></li>}
  </ul>
  @if (isModalVisible) {
  <div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-violet-950  p-6 rounded-lg shadow-lg flex justify-center flex-col text-white items-center">

      <h2 class="text-2xl font-bold mb-4">Delete Product</h2>
      <p>Are you sure you want to delete this product.</p>
      <div class="m-3">
        <button class="btn btn-primary mr-3" (click)="deleteProduct()">Delete</button>
        <button class="btn btn-danger ml-3" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
  }
</div>